<%+cbi/valueheader%>
<span id="timecontrol-status" style="font-weight:bold;"><%:Collecting data...%></span>
<script type="text/javascript">
	XHR.poll(3, '<%=url("admin/services/timecontrol/status")%>', null,
		function(x, result) {
			var status = document.getElementById('timecontrol-status');
			if (status && result) {
				status.style.color = result.status ? 'green' : 'red';
				status.innerHTML = result.status ? '<%:Running%>' : '<%:Not Running%>';
			}
		}
	);
</script>
<%+cbi/valuefooter%>
